.App {
    position: absolute;
    left: 20vw;
    top: 10vh;
}

h1 {
    margin-bottom: 10vh;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 20vw;
    height: 5vh;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.5vh;
}

form > label:not(:nth-child(1)) {
    margin-top: 5vh;
}

.inputFeedback {
    margin-left: 1vw;
}

.formFooter {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.formFooter > button {
    width: 8vw;
    height: 5vh;
    font-size: 1.5vh;
}

li {
    border: solid 1px grey;
    background-color: papayawhip;
    margin: 1.5vh;
    height: 5vh;
    display: grid;
    grid-template-columns: 1fr 5vw 5vw;
    align-items: center;
}

li > label > input {
    width: 3vw;
    height: 2vh;
}

li > label > span {
    margin-right: 3vw;
}

li > button {
    width: 80%;
    height: 80%;
    font-size: 1.7vh;
}

.newTodoDiv {
    margin: 1.5vh;
    margin-bottom: 5vh;
}

.newTodoDiv > input {
    width: 20vw;
}
.newTodoDiv > button {
    margin-left: 1vw;
    width: 5vw;
    height: 5vh;
    font-size: 2vh;
}
